.Rproj.user
.Rhistory
.RData
.Ruserdata
*.so
*.o
# Orderly will store data in a sqlite database, by default orderly.sqlite
*.sqlite
draft
data
archive
store
bundle-input
bundle-output
context
.DS_Store
bundles
README.html
docs/scale-grid.html
dev_scale-grid
